header{
    background-color: black;
}.bg-black{
    background-color: black;
}

body{
    padding:0;
    align-items: center;
    background-color: black;
    color: #cced97;
}
h1,h2{
    align-items: center;
    color: #cced97;
    font-style: italic;
}
p{
    padding: 0;
    align-items: center;
    color: #cced97;
}
.end_text{
    color: #b97f3c;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    align-items: center;
    margin-left: 40%;
}
header {
    background-color: #b97f3c;
    color: black;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b97f3c;
    min-width: 120px;
    text-align: left;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.VIT-logo{
    height: 90px;
    width: 250px;
    float: right;
    padding: 0;
    margin: 0;
}
.Vbay{
    width: 500px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 25px 5px;

}

.about_us_box {
    border: 1px solid #b97f3c;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 78px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.box-details {
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
}


footer {
    background-color: #b97f3c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 20px;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
